@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Shadows Into Light", sans-serif;
}


body{
    background: #3f3f3f ;
    color: white;
    font-weight: 500;
    display: flex;
}

main{
    width: 99%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.main{
    max-width: 50%;
    min-width: 303px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh 0 auto 17%;
}

.main h1{
    color: #d6bdff;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.main .social-media{
    display: flex;
    align-content: center;
}

.main .social-media a{
    text-decoration: none;
}

.main .social-media img{
    width: 36px;
    margin-left: 1.5rem;
}

.main .social-media a:first-child img{
    margin-left: 0;
}

.main .alternative{
    margin-top: 1rem;
}

.main .alternative span{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

.main .alternative span::before, .main .alternative span::after{
    position: absolute;
    content: '';
    height: 3px;
    width: 100px;
    background: rgba(255, 255, 255, 0.3);
    bottom: 50%;
    right: 50px;
}

.main .alternative span::after{
    left: 50px;
}


.main form label{
    display: flex;
    flex-direction: column;
}

.main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

.main form input{
    background: #d3b8ff8a; 
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(255, 255, 255);
    font-size: 1.25rem;
    border: 2px solid #000;
    border-radius: 5px;
    font-family: sans-serif;
}

/* login */
.main form input[value="Entrar"]{
    cursor: pointer;
    width: 45%;
    margin-top: 3rem;
    margin-right: 7%;
    background: #b98eff;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}
/* index */
.main form input[value="Inscreva-se"]{
    cursor: pointer;
    width: 45%;
    margin-top: 3rem;
    margin-right: 5%;
    background: #b98eff;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}
 /* login */
.main form input[value="Cadastrar"]{
    cursor: pointer;
    width: 45%;
    background: #b98eff;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

.main form input[type="submit"]:hover{
    background: #6200ff;
    color: white;
}

.circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #e8cbc0b0, #5200d69a);
    clip-path: circle(40% at 90%);
    z-index: -1; 
}

.main form div{
    height: 50px;
    width: 300px;
    background: #be4a4aa4;
    clip-path:polygon(40% at 90%);
    z-index: -1; 
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    outline: none;
    color: #fff;
    font-size: 1rem;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    font-family: sans-serif;
}

@media only screen and (max-width: 1024px) {
    .images-container{
        display: none;
    }
    main{
    margin: 0 auto 20px auto;

    }
    .main{
        margin: 0 auto;
    }
  }
/* login */
@media (max-width:1500px) and (min-width:1024px){
    
    .image img{
        margin: 19vh -1vw 0 0;
        height: 30rem;
    }
}
/* login */
@media only screen and (min-width: 1500px){
    .image img{
        margin: 17vh 5vw 0 0;
    }
}

/* index */
@media (max-width:1500px) and (min-width:1024px){
    
    .images img{
        margin: 17vh -5vw 0 0;
    }
}
/* index */
@media only screen and (min-width: 1500px){
    .images img{
        margin: 17vh 5vw 0 0;
    }
}